.topBG {
    width: 100%;
    height: 206px;
    background-color: #D3D3D3 ;
    overflow: hidden;
    border: 1px solid yellow;
}

.footBG {
    width: 100%;
    height: 50px;
    background-color: #D3D3D3 ;
    overflow: hidden;
    border: 1px solid yellow;
}

.wrapper {
    border: 1px solid red;
    max-width: 757px;
    margin: 0 auto;
}
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:#D3D3D3;
}

.containerCircle {
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin: 10px 0 0 440px;
}

.containerCircle .item-box{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #D3D3D3;
}
.containerLogo {
    justify-content: flex-start;
    font-size: 30px;
    margin-left: 50px;
}

.containerLinks {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:#D3D3D3;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
}

.projectSlider {
    background-color: gray;
    height: 150px;
    width: 300px;
    margin: 10px 50px;
}

.sliderText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: #D3D3D3;
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#D3D3D3;
    margin-top: 10px;
}

.containerLinks2 {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.containerInfo {
    justify-content: flex-start;
    margin-right: 50px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterFeed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterText {
    display: flex;
    background-color: #D3D3D3;
    height: 50px;
    width: 645px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px) {
    .container1{
        align-items: flex-start;
        flex-direction: column;
    }

    .containerLinks{
        margin-left: 50px;
    }

    .container5{
        align-items: flex-start;
        flex-direction: column;
    }

    .containerLinks2{
        margin-left: 50px;
    }
}

@media (max-width: 300px) {
    .containerLinks{
        flex-direction: column;
    }

    .containerLinks2{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .containerCircle {
        margin: 10px 0 0 150px;
    }
}