.topBG {
  width: 100%;
  height: 206px;
  background-color: #D3D3D3;
  overflow: hidden;
  border: 1px solid yellow;
}

.topBG__wrapper {
  border: 1px solid red;
  max-width: 757px;
  margin: 0 auto;
}

.middle {
  border: 1px solid red;
  max-width: 757px;
  margin: 0 auto;
}

.topBG__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #D3D3D3;
}

.middle__containerCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 132px;
  margin: 10px 0 0 440px;
}

.middle__containerCircle .middle__containerCircle--circle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #D3D3D3;
}

.topBG__container1--logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  margin-left: 50px;
}

.topBG__container1--links {
  margin-right: 50px;
}

.topBG__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #D3D3D3;
}

.topBG__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 50px;
}

.topBG__projectSlider {
  background-color: gray;
  height: 150px;
  width: 300px;
  margin: 10px 50px;
}

.topBG__projectSlider--sliderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle__container3--item {
  background-color: #D3D3D3;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__container4--item {
  background-color: #D3D3D3;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__twitterFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle__twitterFeed--Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D3D3D3;
  height: 50px;
  width: 645px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footBG {
  width: 100%;
  height: 50px;
  background-color: #D3D3D3;
  overflow: hidden;
  border: 1px solid yellow;
}

.footBG__wrapper {
  border: 1px solid red;
  max-width: 757px;
  margin: 0 auto;
}

.footBG__container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D3D3D3;
  margin-top: 10px;
}

.footBG__container5--Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}

.footBG__container5--Info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
}

.footBG__Info {
  margin-right: 50px;
}

@media (max-width: 400px) {
  .topBG__container1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topBG__container1--links {
    margin-left: 50px;
  }
  .footBG__container5 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footBG__container5--Links {
    margin-left: 50px;
  }
}

@media (max-width: 300px) {
  .topBG__container1--links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footBG__container5--Links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footBG {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .middle__containerCircle {
    margin: 10px 0 0 150px;
  }
}
/*# sourceMappingURL=style.css.map */