.topBG {
    width: 100%;
    height: 206px;
    background-color: #D3D3D3 ;
    overflow: hidden;
    border: 1px solid yellow;

    &__wrapper {
        border: 1px solid red;
        max-width: 757px;
        margin: 0 auto;
    }

    &__container1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color:#D3D3D3;

        &--logo {
            justify-content: flex-start;
            font-size: 30px;
            margin-left: 50px;
        }

        &--links {
            margin-right: 50px;
        }
    }

    &__container2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color:#D3D3D3;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 50px;
    }

    &__projectSlider {
        background-color: gray;
        height: 150px;
        width: 300px;
        margin: 10px 50px;

        &--sliderText {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.middle {
    border: 1px solid red;
    max-width: 757px;
    margin: 0 auto;

    &__containerCircle { // continuation from .middle
        display: flex;
        justify-content: space-between;
        width: 132px;
        margin: 10px 0 0 440px;

        .middle__containerCircle--circle{ // space after .middle
            width: 15px;
            height: 15px;
            border-radius: 20px;
            background-color: #D3D3D3;
        }
    }

    &__container3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--item {
            background-color: #D3D3D3;
            height: 200px;
            width: 200px;
            margin: 10px 10px 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__container4 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &--item {
            background-color: #D3D3D3;
            height: 200px;
            width: 200px;
            margin: 10px 10px 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__twitterFeed {
        display: flex;
        justify-content: center;
        align-items: center;

        &--Text {
            display: flex;
            background-color: #D3D3D3;
            height: 50px;
            width: 645px;
            justify-content: center;
            align-items: center;
        }
    }
}

.footBG {
    width: 100%;
    height: 50px;
    background-color: #D3D3D3 ;
    overflow: hidden;
    border: 1px solid yellow;

    &__wrapper {
        border: 1px solid red;
        max-width: 757px;
        margin: 0 auto;
    }

    &__container5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#D3D3D3;
        margin-top: 10px;

        &--Links {
            display: flex;
            justify-content: space-between;
            margin-left: 50px;
        }

        &--Info {
            justify-content: flex-start;
            margin-right: 50px;
        }
    }

    &__Info {
        margin-right: 50px;
    }
}

@media (max-width: 400px) {
    .topBG__container1{
        align-items: flex-start;
        flex-direction: column;

        &--links{
            margin-left: 50px;
        }
    }

    .footBG__container5{
        align-items: flex-start;
        flex-direction: column;

        &--Links{
            margin-left: 50px;
        }
    }
}

@media (max-width: 300px) {
    .topBG__container1--links{
        flex-direction: column;
    }

    .footBG__container5--Links{
        flex-direction: column;
    }

    .footBG {
        height: 150px;
    }
}

@media (max-width: 600px) {
    .middle__containerCircle {
        margin: 10px 0 0 150px;
    }
}